@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: red;
}
::selection{
background: rgb(0,123,255,0.3);
}
nav{
  background: #000;
  padding: 5px 40px;
  scroll-behavior: smooth;
  
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: red;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: red;
}
.bn{
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: 70px;
}
.bn:hover{
  background-color: rgba(133, 13, 5, 0.3);
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px red,
                inset 0 0 10px red;
  }
  nav ul li.items:hover:after{
    opacity: 1;
  }
  .bn{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 70px;
  }
  .bn:hover{
    background-color: rgba(206, 34, 22, 0.3);
  }
}
.container{
    position: relative;
}
.blackbanner{
    position: absolute;
    height: 700px;
    width: 100%;
    background: #000;
}

.leftimg{
    position: absolute;
    width: 20%;
    height: 30%;
    left: 3%;
    top: 5%;
}
.middleimg{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 10%;
    height: 70%;
}
.rightimg{
    position: absolute;
    left: 80%;
    top: 50%;
    width: 15%;
    height: 38%;
}
@media (max-width:650px){
    .blackbanner{
        position: absolute;
        height: 1800px;
        width: 100%;
        background: #000;
    }
    .leftimg{
        position: absolute;
        width: 30%;
        height: 17%;
        left: 35%;
        top: 5%;
    }
    .middleimg{
        position: absolute;
        width: 50%;
        left: 30%;
        top: 25%;
        height: 30%;
    }
    .rightimg{
        position: absolute;
        left: 40%;
        top: 60%;
        width: 25%;
        height: 22%;
    }
}